
.chat-msg{
  max-width: 100%;
  display: flex;
  flex-flow: column;
  margin: 1% 1%;
}

.chat-msg-container{
  max-width: 90%;
  padding: 1%;
  border-radius: 5px;
  /* display: flex; */
}

.chat-msg-user{
  font-weight: bold;
}

.chat-msg-content{

}
.chat-msg-container[me=true]{
  background-color: #ffe1d4;
  text-align: left;
  align-self: flex-start;

}

.chat-msg-container[me=false]{
  background-color: #bcdfe7;
  text-align: right;
  align-self: flex-end;
}

.chat-msg[showUser=false]{
  margin-top: 0%;
}

/* .chat-msg[me=true]{
  align-content: flex-start;
}

.chat-msg[me=false]{
  align-content: flex-end;
} */


.chat-input-container{
  width: 100%;
  border: 2px solid #ccc;
  display: flex;
  flex-direction: row;
}
textarea .chat-input-text{
  border: none;
}
.chat-input-text{
  width:90%;
}

.chat-input-text{
  width:90%;
}

.chat-input-action{
  width:5%;
}

.show-call{
  position: fixed;
  top: 30%;
  left:30%;
  background-color: #ccc;
  padding: 20px;
}

.call-accept{
  background-color: rgb(74, 184, 70);
  padding: 10px;
  color: white;
  font-size: 16px;
  font-weight: bold;
  margin: 20px;
  border-radius: 3px;
}
.call-decline{
  background-color:red;
  padding: 10px;
  color: white;
  font-size: 16px;
  font-weight: bold;
  margin: 20px;
  border-radius: 3px;
}