body {
  background-color: #d0e1d4;
}

.App {
  text-align: center;
  font-family: sans-serif;
}

.App > h1 {
  font-weight: 500;
  font-size: 2.5em;
}


.App-header {
  background-color: #222;
  height: 10%;
  padding: 2%;
  color: white;
}

.App-intro {
  font-size: large;
}

.login-form {
  width: 50vw;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

/* .login-component {
} */
.ant-form-item-control {
  display: flex;
  justify-content: space-between;
}

.ant-form-item-control > a {
  align-content: flex-end;
}
/* .ant-form-item-control {
  d;
} */

.ant-form-item {
  flex-basis: 33%;
  flex-grow: 1;
}

.ant-form-item:last-child{
  align-items:flex-end;
}
/* #components-form-demo-normal-login .login-form {
  max-width: 300px;
}
#components-form-demo-normal-login .login-form-forgot {
  float: right;
}
#components-form-demo-normal-login .login-form-button {
  width: 100%;
}
  */